html {
  background-color: white;
  max-height: 50vh;
}

h1 {
  color: gray;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 40px;
  margin:0;
}

h4 {
  color: gray;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

#myCanvas {
  border: 1px solid white;
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
}

#bird {
  width: 50px;
  height: 42px;
  padding-left: 5px;
  padding-right: 5px;
}

#note {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

#instructions {
  position:absolute;
  left: 37%;
  top: 50%;
  z-index: 10;
}

#instructions-words {
  position:absolute;
  left: 40%;
  top: 25%;
  z-index: 10;
  color: white;
  font-size: 30px;
}
